transformers
numpy==1.25.2
scikit-learn
hf_xet
alembic
accelerate
fastapi
uvicorn
black
isort
httpx
pytest
pydantic
pydantic-settings
pydantic_core
python-dotenv
psycopg2-binary
SQLAlchemy
starlette
python-jose[cryptography]
python-multipart